<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rickon.ximalayakotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />

    <meta-data
        android:name="app_key"
        android:value="9e7d0b81dd09d3a5c047c5ff841f8691" />
    <meta-data
        android:name="pack_id"
        android:value="com.rickon.ximalayakotlin" />

    <application
        android:name=".TingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo_medium"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.CountryRadioActivity"></activity>
        <activity android:name=".activities.DownloadActivity" />
        <activity android:name=".activities.SearchActivity" />
        <activity android:name=".activities.HistoryActivity" />
        <activity android:name=".activities.AlbumActivity" />
        <activity
            android:name=".activities.PlayingActivity"
            android:launchMode="singleTask" />
        <activity android:name=".activities.RankListActivity" />
        <activity android:name=".activities.RadioActivity" />
        <activity android:name=".activities.BaseActivity" />
        <activity
            android:name=".activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.ximalaya.ting.android.opensdk.player.service.XmPlayerService"
            android:process=":player" />

        <receiver
            android:name="com.ximalaya.ting.android.opensdk.player.receive.PlayerReceiver"
            android:exported="true"
            android:process=":player">
            <intent-filter>
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_START_PAUSE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_PLAY_PRE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_PLAY_NEXT" />
                <action android:name="com.ximalaya.ting.android.ACTION_CLOSE" />
                <action android:name="com.ximalaya.ting.android.ACTION_CONTROL_RELEASE_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MyPlayerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rickon.ximalayakotlin.Action_Close" />
                <action android:name="com.rickon.ximalayakotlin.Action_PAUSE_START" />
            </intent-filter>
        </receiver>
    </application>

</manifest>